body {
  background-color: rgb(235, 236, 241);
  align-items: center;
  text-align: center
}

.h1 {
  color: red;
  margin: 20px;
  font-family: fantasy;
  text-align: center;
}
.App {
  text-align: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darkgray;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 0;
  height: 20px;
  width: 20px;
}

.navbar-icons:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.navbar-icons li {
  margin: 0 10px;
}

.navbar-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.score {
  font-size: small;
  text-align: right;
  text-align: top;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.canvas-wrapper canvas:hover {
  cursor: crosshair;
}

.canvas-wrapper .circle {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  transform-origin: center
}

.images{
  display: inline-flexbox;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  margin-top: 250px;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 1024px) {
.image-grid {
  align-items: center;
  margin: 25%;
  display: grid;
  flex-wrap: wrap;
  margin-top: 100px;
}
}

.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 50%;
  padding: 20px;
  align-items: center;
}

.grid-image {
  align-items: center;
  width: 50%;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
